/* hover */

.fa-xmark:hover {
    color: #fd70af;
}

.check-out:hover {
    background-color: #fd70af;
}


.shopping-bag {
    font-size: 26px;
    margin-top: 160px;
    font-weight: 600;
    text-align: center;
    font-family: "Sweet Sans Bold", "Arial", sans-serif;
    text-transform: uppercase;
}

.items-bag {
    text-align: center;
    margin-top: 16px;
    color: #fd70af;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;

}

.container-section-cart {
    margin: 10px;
    display: flex;
    justify-content: space-between;

}

.products-cart {
    display: grid;
    grid-template: auto auto 1fr / auto 1fr 120px 1fr auto;
    margin-left: 40px;
    margin-top: 15px;
    width: 820px;
    height: 200px;
    border-bottom: 1px solid #ededed;

}

.container-details-cart {
    margin: 10px;
}

.product-cart-tittle {
    font-weight: bold;
    font-size: 15px;
}

.product-cart-price {
    font-size: 18px;
    font-weight: bold;
    color: #d61717;
    margin-bottom: 10px;
}

.container-cart-quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.product-quantity {
    border: 1px solid #ededed;
    width: 35px;
    height: 35px;
    padding: 7px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    color:#4a4a4a;
}

.product-price-quantity {
    font-size: 15px;
    color: #d61717;
    font-weight: 600;
    font-family: "Arial", sans-serif;

}

.product-price-quantity span {
    color: rgb(142, 144, 145);
    font-weight: lighter;
    font-size: 14px;
}

.container-price-and-delete {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

span i {
    cursor: pointer;
    color: #8a8989;

}

.product-cart-button-delete {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #8a8989;
}

.container-products-cart {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-img-cart {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: auto;
    background-clip: border-box;
}

.container-img-cart img {
    width: 100%;
    height: 100%;
}

.footer-subtotal-cart {
    background-color: #ffff;
    color: rgb(23, 23, 23);
    display: flex;
    border: 1px solid #ededed;
    justify-content: flex-end;
    height: 410px;
    width: 365px;
}

.container-subtotal {
    display: flex;
    justify-content: space-between;
}


.subtotal {
    font-weight: bold;
    font-size: 20px;
    color: rgb(23, 23, 23);
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 25px;

}

.check-out {
    width: 100%;
    height: 35px;
    background-color: rgb(23, 23, 23);
    color: #ffff;
    font-size: 15px;
    padding: 6px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.shipping-cost {
    margin-bottom: 30px;
    font-size: 14px;
    color: #6c6a6a;
    font-weight: 500;
}

.privacy-policy {
    font-size: 10px;
    margin-top: 20px;
    color: #6c6a6a;
    text-align: center;
}


@media (min-width: 320px) and (max-width: 720px) {


.checkout-form select {
    width: 100% ;
    font-size: 10px;         
}
    section{
        flex-direction: column;
    }

    
    .container-section-cart {
       
        margin-right:0 ;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .products-cart {
        width: 350px;
        position: relative;
        margin-left: 0;
        height: auto;
        padding-bottom: 10px;
        display: grid;
        grid-template: auto auto 1fr / auto 1fr;
        align-items: center;
        justify-items: flex-start;
        gap: 20px;

    }

    .product-cart-tittle {
        font-size: 12px;

    }

    .product-cart-price {
        font-size: 13px;
    }

    .product-price-quantity {
        font-weight: bold;
        color: #d61717;
        font-size: 12px;
    }

    .product-price-quantity span {
        color: rgb(142, 144, 145);
        font-weight: lighter;
        font-size: 12px;
    }

    .container-details-cart {
        margin: 0;
    }

    .container-price-and-delete {
        margin-right: 0;
    }

    .container-cart-quantity {
        margin-left: 12px;
    }

    .product-cart-button-delete {
        position: absolute;
        top: 0;
        left: 310px;


    }


}

