* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    width: 100%;
    min-height: 100%;
    background-color: var(--backgroundPrincipal);
    font-family: "Sharp Sans Display No1", "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: clip;
    position: relative;
   

}

:root {
    --blackBold: #282727;
    --blackFont: #27251f;
    --colorWhiteFont: #efebeb;
    --pinkHover: #fd70af;
    --backgroundPrincipal: #ffffff;
}

/* iconos */
.fa-shopping-cart,
.fa-user {
    color: var(--whitebold);
}

.fa-magnifying-glass {
    color: var(--whitebold);
    border-radius: 3px;
    width: 38px;
    height: 39.7px;
    background-color: var(--pinkHeader);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: 1px solid #b3b2b261;
    padding-top: 12px;
}

.fa-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.fa-heart.active {
    color: var(--pinkHover);
}

.fa-star {
    color: #f9ec00;
}

.loading-spinner {
    color: var(--pinkHover);
    margin-top: 50px;
}

.icon-cart {
    text-decoration: none;
    color: #27251f !important;
}

/* hovers*/

.nav-bar ul li a:hover {
    color: var(--pinkHover);
}

.card-button:hover {
    background-color: var(--pinkHover);
}

.card-img:hover {
    transform: scale(1.2);
}


/* Media Querys*/