
.section-container-card {
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container-card {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    gap: 5px;
    align-items: center;
    padding: 10px;
    background-color: var(--backgroundPrincipal);

}

.card {
    width: 300px;
    height: 445px;
    position: relative;
    background-color: var(--backgroundPrincipal);
    text-align: center;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}



.card h2 {
    font-size: 15px;
    margin: 10px;
    color: #424242;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;

}

.card p {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    text-align: justify;
    color: #9d9a9a;
    font-family: "Sweet Sans Bold";
}

.price {
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    font-size: 1.4em !important;
    color: var(--blackFont) !important;
}

.card-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-button {
    border: none;
    background-color: var(--blackBold);
    border-radius: 1px;
    width: 260px;
    height: 35px;
    color: var(--colorWhiteFont);
    align-content: center;
    font-size: 15px;
    padding: 5px;
    transition: transform 0.2s, 0.3s ease;
    cursor: pointer;
    font-family: "Sweet Sans Medium";
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.text-green-500 {
    background-color: #71f900;
    width: 54px;
    height: 20px;
    color: rgb(20, 20, 20);
    font-size: 9px ;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px;
}

.text-red-500 {
    background-color: rgb(244, 20, 20);
    width: 70px;
    height: 20px;
    color: #ffff;
    font-size: 9px ;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px;
}

@media (min-width: 320px) and (max-width: 720px) {
    
    .container-card {
        display: auto;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        
        
    }

    .section-subtittle {
        display: none;
    }

    .card-button {
        width: 230px;
    }

    .nav-bar ul li {
        display: none;
    }

    .card {
        width: 135px;
        height: 380px;
        border: none;
       
    }

    .card-description {
        display: none;

    }

    .card p {
        text-align: center;
        font-size: 12px;
    }

    .card h2 {
        text-align: center;
        font-size: 12px;
        margin-left: 0;
        margin-left: 0;
    }

    .card-img {
        width: 100%;
        height: 160px;
        object-fit: contain;  
    }

    .price {
        font-weight: 300;
    }

    .card-button {
        width: 130px;
        font-size: 12px;
    
    }
   
    .see-more {
        width: 200px;
        font-size: 11px;
    }
    .footer-text-first {
        text-align: center;
    }
    .footer-text-second {
        margin-bottom: 0;
    }
    footer p {
        text-align: center;
        margin-bottom: 12px;
    }
    .container-icons {
        text-align: center;
    }
}