
/* :hover */
.place-order:hover{
 background-color: #fd70af;
}

.cancel:hover{
    background-color: #eeeeee;
}


.checkout-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 8px;
    
}

.checkout-form h2 {
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: bold;
    
}

.checkout-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #727171;
}

.checkout-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid  #ededed;
    border-radius: 4px;
    
}

.checkout-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid  #ededed;
    border-radius: 4px;
    color: #8e8c8c;
    
    
}

.form-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;

}

.form-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.place-order {
    background-color: rgb(23, 23, 23);
    color: #fff;
}

.cancel {
    background-color: #f5f5f5;
    color: #747373;
    border: 1px solid #ededed;
    font-weight: 100;

}

.text-error{
    color: rgb(245, 51, 51);
}


@media (min-width: 320px) and (max-width: 720px) {
    .checkout-form {
        width: 100%;
    }

}
