* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    background-color: var(--backgroundPrincipal);
    font-family: "Sharp Sans Display No1", "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}


:root {
    --blackPrimary: #282727;
    --redHeader: rgb(200, 16, 46);
    --whitebold: rgb(247, 247, 247);
    --backgroundPrincipal: #f5ebdc;
}



.header-title {
    font-family: "Agbalumo", system-ui;
    color: var(--whitebold);
    font-weight: bold;
    font-size: 2em;
    margin-left: 15px;
}

.header-icon i {
    margin: 15px;
    cursor: pointer;

}

.fa-shopping-cart,
.fa-user {
    color: var(--whitebold);
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--redHeader);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--whitebold);
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;

}


.section-search-option {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    padding: 25px;




}

.img-banner {
    width: 120px;
    margin-left: 90%;
}

.container-search {
    display: flex;
    align-items: center;
}

.search-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 300px;
    height: 40px;
    border: 1px solid #b3b2b261;
    text-indent: 5px;
    margin: 20px;
    font-size: 11px;
    margin-right: 0;

}

.button-icon {
    border: none;
    cursor: pointer;

}

.fa-magnifying-glass {
    color: var(--whitebold);
    border-radius: 3px;
    width: 38px;
    height: 39.7px;
    background-color: var(--redHeader);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: 1px  solid #b3b2b261;
    padding-top: 12px;
    
}

.select-option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: --whitePrimary;
    border: 1px solid #b3b2b261;
    border-radius: 3px;
    padding: 8px;
    font-size: 10px;
    color: #979595;
    outline: none;
    margin: 20px;
    height: 40px;
    cursor: pointer;
}


.section-container-card {
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: flex-start;

}

.section-subtittle {

    font-size: 1.4em;
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

}


.container-card {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    padding: 25px;
    background-color: var(--backgroundPrincipal);

}

.card {
    width: 280px;
    height: 400px;
    background-color: #fefbf2;
    text-align: center;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    box-shadow: 2px 2px 1px 1px #aaa9a931;
    margin-bottom: 30px;
}

.fa-heart {
    margin-left: 250px;
    cursor: pointer;
}

.card h2 {
    font-size: 15px;
    margin: 10px;
    color: #424242;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;

}

.card p {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    text-align: justify;
}

.price {
    margin-top: 10px;
    font-weight: bold;
}

.price span {
    color: var(--redHeader);
    font-size: 15px;
}

.container-card-button {
    display: flex;
    justify-content: center;
    margin-top: 28px;



}

.card-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.card-button {
    border: none;
    background-color: #282727;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    color: var(--whitebold);
    padding: 10px;
    align-content: center;
    font-size: 10px;
    padding: 5px;
    margin: 5px;
    transition: transform 0.2s, 0.3s ease;
    cursor: pointer;
}

.see-more {
    width: 280px;
    height: 40px;
    background-color: var(--redHeader);
    color: rgb(247, 247, 247);
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: auto;
    margin-bottom: 25px;
    font-weight: 600;
    border: none;
    cursor: pointer;


}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: rgb(34, 35, 35);
    color: var(--whitebold);
}

.container-icons {
    display: inline-block;
    margin: 25px;

}

.container-icons i {
    margin: 5px;

}

.footer-text-first {
    font-size: 10px;
    padding-left: 2px;
    margin-bottom: 10px;
}

.header-title-footer {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 0px;
}

.footer-text-second {
    font-size: 10px;
    margin-top: -20px;
    text-align: center;
}




/* hovers*/

.nav-bar ul li a:hover {
    color: #424242;
}

.card-button:hover {
    background-color: #424242;
    transform: scale(1.1);
}




/* Media Querys*/

@media (min-width: 320px) and (max-width: 720px) {

    .section-container-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-subtittle {
        margin-top: 20px;
        margin-left: 0;
    }

    .nav-bar ul li {
        display: none;

    }

    .search-input {
        width: 215px;
    }

    .background-banner {
        display: none;
    }

    .section-search-option {
        margin-top: 80px;
        justify-content: center;
        margin-left: 0;
    }

    .card {
        width: 400px;
        height: 420px;
    }
    .card-img {
        width: 100%;
        height: 220px;
    }
    .fa-heart{
       margin-left: 360px;
    }
    .see-more{
        width: 380px;
    }
}